.wrap {
  max-width: 1000px;
  margin: 8px auto;
  padding: 8px;
  min-height: 75vh;
}

#bogl-img {
  width: 100%;
  height: 300px;
  background-image: url(/childsplay/img/favicon.ico);
  /* oversized, needs some more work */
}

.top-16 {
  margin-top: 64px;
  /* background: #eee; */
}

.top-16 img {
  border-radius: 100px;
}


/** Home Page Button Styling **/
/* This is meant to be a tempory fix for css not applying to these buttons */
.btn-nav {
  width: 292px;
  height: 213px;
  line-height: 175px;
}

.nav-btn{
  padding: 12px;
}



/** Footer Styling, folds it in at <= 900px **/
@media(max-width: 900px) {
  .footer-item {
    display: block;
    text-align: left;
  }

  .footer-vanish {
    display: none;
  }
}

/** OSU logo in footer **/
#osu-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  opacity: 0.7;
}

/** Centered img, w/ optional caption **/
.center-img {
  max-width: 900px;
  margin: 8px auto;
  display: block;
}

@media(max-width: 1100px) {
  .center-img {
      width: 90vw;
  }
}

/** Cover img **/
.cover-img {
  max-width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/** Home page button styling **/

/* Makes the buttons fill the width of the card */
.cp-full-button {
  min-width: 100%;
}

/* Attempts to make all text sections the same height,
 but doesn't fix them, in case they need more space */
.cp-min-txt-height {
  min-height: 100px;
}
