{{ $rootPrefix := "/childsplay/" }}
<footer>
  <div style="background:#f8f9fa;margin:0;padding:0">
    <div style="height:8px"></div>
    <img id="osu-logo" width="100" src="/childsplay/img/OSU_vertical_1C_B.png">
    <p style="text-align:center;padding:8px"><a href="{{ $rootPrefix }}contact/">Questions? Contact Us</a></p>
    <p style="text-align:center;color:rgba(0,0,0,0.7);margin:0;padding:16px 16px 32px 16px">
      <span class="footer-item">
        &copy; Childsplay Research Group 2021
      </span>
      <span class="footer-vanish">
        &nbsp;|&nbsp;
      </span>
      <span class="footer-item">
        Designed &amp; Built at the <a href="https://eecs.oregonstate.edu/">School of EECS at Oregon State University</a>
      </span>
      <br/>
      <span class="footer-vanish">• • •</span>
    </p>
  </div>
</footer>
