<footer>
  <div style="background:#f8f9fa;margin:0;padding:0">
    <p style="text-align:center;color:rgba(0,0,0,0.7);margin:0;padding:32px 16px 32px 16px">
      <span class="footer-item">
        &copy; ChildsPlay Research Group 2021
      </span>
      <span class="footer-vanish">
        &nbsp;|&nbsp;
      </span>
      <span class="footer-item">
        <a href="mailto:example@example.com">Contact Us via Email</a>
      </span>
      <span class="footer-vanish">
        &nbsp;|&nbsp;
      </span>
      <span class="footer-item">
        Designed &amp; Built at Oregon State University
      </span>
    </p>
  </div>
</footer>
