<!-- inline mini bogl repl -->
<div class="bogl-embed-editor">
  <div class="bogl"></div>
  <textarea class="left bogl-code" contenteditable="true" spellcheck="false">{{ trim .Inner "\n" }}</textarea>
  <div class="right">
    <div class="bogl-repl-result"></div>
    <input class="bogl-repl-run" placeholder=">" type="text" spellcheck="false"/>
  </div>
</div>
<br/>
<script src="../js/mini-editor.js" defer></script>

<script src="../js/bogl-highlight.js"></script>

<!--CodeMirror highlighting (textareas, editable)-->
<link href="../codemirror-5.60.0/lib/codemirror.css" rel="stylesheet">
<script src="../codemirror-5.60.0/lib/codemirror.js"></script>
<script src="../codemirror-5.60.0/mode/bogl/bogl.js"></script>
