<form style="margin-top:32px">
  <h3>Contact Us</h3>
  <p>
    We're happy to provide our educational material to you upon request.
    Please use the contact form to reach out to us with your name, an email we can reach you by, and a description of your request.
  </p>
  <!--name-->
  <div class="mb-3">
    <label for="inputName" class="form-label">Your Name</label>
    <input name="name" type="text" class="form-control" id="inputName" placeholder="Doe, John" aria-describedby="nameHelp">
  </div>
  <!--email-->
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Your Email Address</label>
    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="example@example.com" aria-describedby="emailHelp">
  </div>
  <!--message-->
  <div class="mb-3">
    <label for="inputMsg" class="form-label">Message</label>
    <textarea name="msg" type="text" class="form-control" id="inputMsg" placeholder="Hi! We would like to use your educational material for..."></textarea>
  </div>
  <!--Send-->
  <button type="submit" class="btn btn-primary">Send</button>
</form>
