    <!-- top  -->
    <div class="card-deck d-flex justify-content-center mt-4">
      <div class="row justify-content-center">
        <!-- a card  -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src='{{.Get "card-1-img"}}' alt='{{.Get "card-1-img-caption"}}'>
          <div class="card-body">
            <h5 class="card-title">{{.Get "card-1-title"}}</h5>
            <p class="card-text cp-min-txt-height">{{.Get "card-1-desc"}}</p>
            <a href='{{.Get "card-1-btn-link"}}' class="btn btn-primary cp-full-button">{{.Get "card-1-btn-txt"}}</a>
          </div>
        </div>
        <!-- a card  -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src='{{.Get "card-2-img"}}' alt='{{.Get "card-2-img-caption"}}'>
          <div class="card-body">
            <h5 class="card-title">{{.Get "card-2-title"}}</h5>
            <p class="card-text cp-min-txt-height">{{.Get "card-2-desc"}}</p>
            <a href='{{.Get "card-2-btn-link"}}' class="btn btn-primary cp-full-button">{{.Get "card-2-btn-txt"}}</a>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- bottom  -->
    <div class="card-deck d-flex justify-content-center mt-4">
      <div class="row justify-content-center">
        <!-- a card  -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src='{{.Get "card-3-img"}}' alt='{{.Get "card-3-img-caption"}}'>
          <div class="card-body">
            <h5 class="card-title">{{.Get "card-3-title"}}</h5>
            <p class="card-text cp-min-txt-height">{{.Get "card-3-desc"}}</p>
            <a href='{{.Get "card-3-btn-link"}}' class="btn btn-primary cp-full-button">{{.Get "card-3-btn-txt"}}</a>
          </div>
        </div>
        <!-- a card  -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src='{{.Get "card-4-img"}}' alt='{{.Get "card-4-img-caption"}}'>
          <div class="card-body">
            <h5 class="card-title">{{.Get "card-4-title"}}</h5>
            <p class="card-text cp-min-txt-height">{{.Get "card-4-desc"}}</p>
            <a href='{{.Get "card-4-btn-link"}}' class="btn btn-primary cp-full-button">{{.Get "card-4-btn-txt"}}</a>
          </div>
        </div>
        <!-- a card  -->
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src='{{.Get "card-5-img"}}' alt='{{.Get "card-5-img-caption"}}'>
          <div class="card-body">
            <h5 class="card-title">{{.Get "card-5-title"}}</h5>
            <p class="card-text cp-min-txt-height">{{.Get "card-5-desc"}}</p>
            <a href='{{.Get "card-5-btn-link"}}' class="btn btn-primary cp-full-button">{{.Get "card-5-btn-txt"}}</a>
          </div>
        </div>
			</div>
    </div>
